.icon-arrow-down
  background-image: url('../images/sprite.png')
  background-position: -446px -209px
  width: 16px
  height: 22px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-arrow-down_small
  background-image: url('../images/sprite.png')
  background-position: -551px -126px
  width: 8px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-btn-facebook
  background-image: url('../images/sprite.png')
  background-position: -552px -137px
  width: 6px
  height: 14px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-facebook
  background-image: url('../images/sprite.png')
  background-position: -446px -185px
  width: 24px
  height: 24px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-BA
  background-image: url('../images/sprite.png')
  background-position: -510px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-CN
  background-image: url('../images/sprite.png')
  background-position: -478px -242px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-CZ
  background-image: url('../images/sprite.png')
  background-position: -462px -242px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-DE
  background-image: url('../images/sprite.png')
  background-position: -446px -242px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-DK
  background-image: url('../images/sprite.png')
  background-position: -542px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-ES
  background-image: url('../images/sprite.png')
  background-position: -526px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-FR
  background-image: url('../images/sprite.png')
  background-position: -510px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-GB
  background-image: url('../images/sprite.png')
  background-position: -494px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-GR
  background-image: url('../images/sprite.png')
  background-position: -478px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-HR
  background-image: url('../images/sprite.png')
  background-position: -462px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-IT
  background-image: url('../images/sprite.png')
  background-position: -478px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-JP
  background-image: url('../images/sprite.png')
  background-position: -526px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-KR
  background-image: url('../images/sprite.png')
  background-position: -519px -126px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-NL
  background-image: url('../images/sprite.png')
  background-position: -535px -126px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-NO
  background-image: url('../images/sprite.png')
  background-position: -462px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-PA
  background-image: url('../images/sprite.png')
  background-position: -478px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-PL
  background-image: url('../images/sprite.png')
  background-position: -494px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-PT
  background-image: url('../images/sprite.png')
  background-position: -494px -242px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-RO
  background-image: url('../images/sprite.png')
  background-position: -526px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-RU
  background-image: url('../images/sprite.png')
  background-position: -542px -209px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-SE
  background-image: url('../images/sprite.png')
  background-position: -462px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-SK
  background-image: url('../images/sprite.png')
  background-position: -542px -185px
  width: 16px
  height: 12px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-SL
  background-image: url('../images/sprite.png')
  background-position: -494px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-TH
  background-image: url('../images/sprite.png')
  background-position: -510px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-TR
  background-image: url('../images/sprite.png')
  background-position: -503px -126px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-TW
  background-image: url('../images/sprite.png')
  background-position: -542px -220px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-flag-VN
  background-image: url('../images/sprite.png')
  background-position: -446px -231px
  width: 16px
  height: 11px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-heart
  background-image: url('../images/sprite.png')
  background-position: -446px -78px
  width: 57px
  height: 59px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-instagram
  background-image: url('../images/sprite.png')
  background-position: -470px -185px
  width: 24px
  height: 24px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-logo
  background-image: url('../images/sprite.png')
  background-position: 0px 0px
  width: 446px
  height: 281px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-logo_small
  background-image: url('../images/sprite.png')
  background-position: 0px -281px
  width: 223px
  height: 141px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-net
  background-image: url('../images/sprite.png')
  background-position: -446px 0px
  width: 114px
  height: 78px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-net_small
  background-image: url('../images/sprite.png')
  background-position: -495px -137px
  width: 57px
  height: 39px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-share
  background-image: url('../images/sprite.png')
  background-position: -494px -185px
  width: 24px
  height: 24px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-twitter
  background-image: url('../images/sprite.png')
  background-position: -518px -185px
  width: 24px
  height: 20px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-two-hearts
  background-image: url('../images/sprite.png')
  background-position: -223px -281px
  width: 112px
  height: 96px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-two-hearts_small
  background-image: url('../images/sprite.png')
  background-position: -503px -78px
  width: 56px
  height: 48px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-world
  background-image: url('../images/sprite.png')
  background-position: -335px -281px
  width: 98px
  height: 96px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

.icon-world_small
  background-image: url('../images/sprite.png')
  background-position: -446px -137px
  width: 49px
  height: 48px
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url('../images/sprite@2x.png')
    background-size: 560px 422px

