// Base
@import "../../node_modules/reset-css/sass/_reset"

*
  box-sizing: border-box

.icon
  display: inline-block
  vertical-align: middle

.container
  max-width: 1270px
  margin: auto

// Helpers
@import 'helpers/mixins/_text-default'
@import 'helpers/mixins/_button-default'
@import 'helpers/mixins/_icon-helper'

// Layouts
@import 'layouts/_greeting'