footer.footer
  .footer__top
    label.footer__description(for="email") Sign up for our newsletter
    input.footer__email(type="email" id="email" placeholder="Email address")
    input.footer__send(type="submit" value="Subscribe")
  // /.footer__top
  .footer__middle
    a.footer__link(href="#" title="url") About
    a.footer__link(href="#" title="url") Contact
    a.footer__link(href="#" title="url") FAQs
    a.footer__link(href="#" title="url") Blog
    a.footer__link(href="#" title="url") Online Safety
    a.footer__link(href="#" title="url") Privacy Policy
    a.footer__link(href="#" title="url") Terms of Use
  // /.footer__middle
  .footer__bottom
    .footer__flags
      .icon.icon-flag-CZ.footer__icon-flag-CZ
      .icon.icon-flag-GR.footer__icon-flag-GR
      .icon.icon-flag-GB.footer__icon-flag-GB
      .icon.icon-flag-TW.footer__icon-flag-TW
      .icon.icon-flag-JP.footer__icon-flag-JP
      .icon.icon-flag-BA.footer__icon-flag-BA
      .icon.icon-flag-DE.footer__icon-flag-DE
      .icon.icon-flag-IT.footer__icon-flag-IT
      .icon.icon-flag-NL.footer__icon-flag-NL
      .icon.icon-flag-CN.footer__icon-flag-CN
      .icon.icon-flag-PA.footer__icon-flag-PA
      .icon.icon-flag-FR.footer__icon-flag-FR
      .icon.icon-flag-SL.footer__icon-flag-SL
      .icon.icon-flag-ES.footer__icon-flag-ES
      .icon.icon-flag-KR.footer__icon-flag-KR
      .icon.icon-flag-PT.footer__icon-flag-PT
      .icon.icon-flag-NO.footer__icon-flag-NO
      .icon.icon-flag-RU.footer__icon-flag-RU
      .icon.icon-flag-PL.footer__icon-flag-PL
      .icon.icon-flag-SE.footer__icon-flag-SE
      .icon.icon-flag-RO.footer__icon-flag-RO
      .icon.icon-flag-DK.footer__icon-flag-DK
      .icon.icon-flag-TR.footer__icon-flag-TR
      .icon.icon-flag-SK.footer__icon-flag-SK
      .icon.icon-flag-VN.footer__icon-flag-VN
      .icon.icon-flag-HR.footer__icon-flag-HR
      .icon.icon-flag-TH.footer__icon-flag-TH
    // /.footer__flags
    hr.footer__line
    p.footer__info
      | © 2017 All World Dating Enterprise Company LLC. All rights reserved. We pledge never to share or sell your Email Address.
    // /.footer__info
  // /.footer__bottom
// /.footer