.greeting
  .header
    button.header__button-menu.button-menu(type='button' title='Мenu')
      span.button-menu__text Menu
      .button-menu__bars
        span.button-menu__bar
        span.button-menu__bar.button-menu__bar_with-margins
        span.button-menu__bar
    // /.header__button-menu.button-menu
  // /.header
  .container.greeting__container
    .title
      a.title__logo(href='#' title='url.com')
        //+svg('logo').title__icon-logo
      // /.title__logo
      h1.title__main-heading
        | Find someone to click with
      // /.title__main-heading
      button.title__button-go-down.button-go-down(type='button' title='Get Started')
        span.button-go-down__text Get started
      // /.title__button-go-down.button-go-down
    // /.title
    .cards
      .cards__item.cards__item-pink
        //+svg('world').cards__icon-world
        p.cards__title
          | One world
        // /.cards__title
      // /.cards__item
      .cards__item.cards__item-red
        //+svg('hearts').cards__icon-hearts
        p.cards__title
          | Two hearts
        // /.cards__title
      // /.cards__item
      .cards__item.cards__item-orange
        //+svg('net').cards__icon-net
        p.cards__title
          | One site
        // /.cards__title
      // /.cards__item
    // /.cards
  // /.container.greeting__container
// /.greeting