.greeiting
  .container
    .header
      button.header__button-menu(type='button' title='Ğœenu')
        | Menu
        span.header__bar
        span.header__bar.
        span.header__bar.
      // /.header__button-menu

    // /.header
  // /.container
// /.greeting