.greeting
  .header
    button.header__button-menu.button-menu(type='button' title='Мenu')
      span.button-menu__text Menu
      .button-menu__bars
        span.button-menu__bar
        span.button-menu__bar.button-menu__bar_with-margins
        span.button-menu__bar
    // /.header__button-menu.button-menu
  // /.header
  .container.greeting__container
    a.logo(href='#' title='url.com')
      .icon.icon-logo.icon-logo
    // /.title__logo
    .title

      h1.title__main-heading
        | Find someone to click with
      // /.title__main-heading
      button.title__button-go-down.button-go-down(type='button' title='Get Started')
        span.button-go-down__text
          | Get started
          .icon.icon-arrow-down.button-go-down__icon-arrow-down
        // /.button-go-down__text
      // /.title__button-go-down.button-go-down
    // /.title
    .cards
      .cards__item.cards__item_pink
        .icon.icon-world.cards__icon-world
        .cards__title.cards__title_pink
          p.cards__text One world
        // /.cards__title
      // /.cards__item
      .cards__item.cards__item_red
        .icon.icon-hearts.cards__icon-hearts
        .cards__title.cards__title_red
          p.cards__text Two hearts
        // /.cards__title
      // /.cards__item
      .cards__item.cards__item_orange
        .icon.icon-net.cards__icon-net
        .cards__title.cards__title_orange
          p.cards__text One site
        // /.cards__title
      // /.cards__item
    // /.cards
  // /.container.greeting__container
// /.greeting