aside.socials
  a.icon.icon-share(href="#" title="url")
  a.icon.icon-facebook(href="#" title="url")
  a.icon.icon-instagram(href="#" title="url")
  a.icon.icon-twitter(href="#" title="url")
// /.socials