.greeting
  height: 100vh
  background: url(../../images/greeting-bg.jpg) no-repeat
  background-size: cover

.header
  padding: 27px 66px 0

  &__button-menu
    float: right

.button-menu
  @extend %btn-default
  width: 85px
  display: flex
  justify-content: space-between
  align-items: center

  &__text
    text-transform: uppercase

  &__bars
    height: 26px
    display: inline-flex
    flex-direction: column
    justify-content: space-between

  &__bar
    width: 30px
    height: 6px
    background-color: #e22028
    border-radius: 3px