.greeting
  height: 100vh
  background: url(../../images/greeting-bg.jpg) no-repeat
  background-size: cover

.header
  padding: 27px 66px 0
  display: flex
  flex-direction: row
  justify-content: flex-end

.greeting__container
  height: calc(100% - 53px)
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.button-menu
  @include button-default
  width: 85px
  display: flex
  justify-content: space-between
  align-items: center

  &__text
    @include text-default
    text-transform: uppercase

  &__bars
    height: 26px
    display: inline-flex
    flex-direction: column
    justify-content: space-between

  &__bar
    width: 30px
    height: 6px
    background-color: #e22028
    border-radius: 3px

.title
  text-align: center
  position: absolute
  bottom: 30%

  &__logo
    display: inline-block
    margin-bottom: 91px

  &__main-heading
    @include text-default
    color: #2f1946
    font-size: 80px
    text-transform: uppercase
    letter-spacing: 1.67px
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25)
    line-height: 59px
    margin-bottom: 72px

.button-go-down
  @include button-default
  width: 190px
  height: 72px
  border: 1px solid #81398b
  border-radius: 36px

  &__text
    @include text-default
    display: inline-flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 163px
    height: 50px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)
    border-radius: 25px
    background-color: #81398b
    font-size: 18px
    color: #ffffff
    text-transform: capitalize

  &__icon-arrow-down
    margin-left: 12px

.cards
  width: 785px
  display: inline-flex
  flex-direction: row
  justify-content: space-between
  position: absolute
  bottom: -110px

  &__item
    width: 235px
    height: 330px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)
    display: flex
    flex-direction: column
    align-items: center
    position: relative

  &__item_pink
    background-color: #fe4a5d

  &__item_red
    background-color: #e22028

  &__item_orange
    background-color: #ff6c00

  &__icon-world
    position: absolute
    top: calc(50% - 96px)

  &__icon-hearts
    position: absolute
    top: calc(50% - 96px)

  &__icon-net
    position: absolute
    top: calc(50% - 91px)

  &__title
    width: 235px
    height: 110px
    background-color: #000000
    opacity: 0.1
    position: absolute
    bottom: 0