include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Web page')
    include pug/styles.pug
  body
    //include pug/svg.pug
    //include pug/includes/greeting
    //include pug/includes/registration
    //include pug/includes/start
    include pug/includes/footer